<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0"
	xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="persistence_2_0.xsd">

	<persistence-unit name="silab_fake_trunk">
		<!-- JNDI name of where the javax.sql.DataSource is located -->
		<jta-data-source>java:silab_adm_web_admin_fonc</jta-data-source>

		<!-- Configuration Hibernate -->
		<properties>
			<property name="hibernate.dialect" value="org.hibernate.dialect.Oracle10gDialect" />
			<property name="hibernate.hbm2ddl.auto" value="none" />
			<property name="hibernate.archive.autodetection" value="false" />

			<!-- Print sql executed - useful for debugging -->
			<property name="hibernate.show_sql" value="false" />
			<property name="hibernate.format_sql" value="true" />
			<property name="hibernate.use_sql_comments" value="false" />

			<!-- Disable the second-level cache -->
			<property name="hibernate.cache.use_second_level_cache"
				value="false" />
		</properties>
	</persistence-unit>
</persistence>
